cache=C:\npm\cache
registry=https://registry.npmjs.org/
save-prefix=~
strict-ssl=false
//berkadiadevops.pkgs.visualstudio.com/_packaging/npm-test/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI4YzBkZGI0Zi1kM2NkLTZkMTktOTQwMC00OGRiNzQyN2UxOGQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTYyYWJlNDEtZTVmNS00N2Y4LTg1MTYtNjJkYzU3ZWVjNTM5Iiwic2lkIjoiMDQxOWVjMjktM2QyZS00YzJiLTk2YjQtZjI0MjMwMmM2MGVhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjYyZGE1N2E4LWNjMzAtNDYzYS04MmI2LWM5NjBhMzllNmJlMCIsIm5iZiI6MTU4Njc2NDQzNywiZXhwIjoxNTg2ODUwODM3fQ.EnlVj_3U08jpBkjE6Y6pGBt476Sz6iT7dBt3TTnNyybT9ghNPKAhk4WsAbmV-ex6TQ1iZsvMCLbb5_Xob529YIhwaMuJrvnR2ZGNRmR7mf8RRmqlBUaN357-66b62nIdyqF1RyVVO2m2xcHik8cSlZXb0HspG_blLXzuW9A9kEbLsX3f65GV54zte0j6KaJ1iO-ebZn2G-wIVKT58M2knjScmU1kyhqKbIsLVRK5KsasyP9cMPsi2jy-w5lH_-NEfJwGJerKfUuFqng3w6zeDzgdCfwYCBiLLtDAbQNjy7cMyU6fzLvWtitkl4d-L2oTH6piLxK3vg8h2E9u1LhDiw

